<h1><%= @team.name %></h1>
<%= link_to "Delete Team", delete_team_path(@team), :method => "delete" %>

<h2>Team Goal: <%= @team.goal %></h2>

<h2>Team Members</h2>
<ul>
<% @team.users.each do |user| %>
  <li><%= "#{user.first_name} #{user.last_name}" %></li>
<% end %>
</ul>

<h3>Your Lists</h3>
<ul>
<% @team.lists.each do |list| %>
  <li><%= list.title %> - <%= link_to "Edit", edit_team_list_path(list) %> / <%= link_to "Delete", delete_list_path(@team, list), :method => "delete" %></li> 
  <ul>
  <% list.tasks.each do |task| %>
    <li><%= "#{task.desc} (#{task.user ? task.user.user_name : "unassigned"})" %> - <%= link_to "Edit", edit_team_task_path(task) %></li>
  <% end %>
  </ul>
<% end %>
</ul>

<%= link_to "Create a List", new_team_list_path(@team) %>

