<!DOCTYPE html>
<html>
  <head>
    <title>TaskTeam</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.6/build/pure-min.css" integrity="sha384-Uu6IeWbM+gzNVXJcM9XV3SohHtmWE+3VGi496jvgX1jyvDTXfdK+rfZc8C1Aehk5" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <div class="pure-menu-horizontal">
    <% if user_signed_in? %>
    <ul class="pure-menu-list">
      <li class="pure-menu-item">
        <%= link_to "Your Team", team_path(current_user.team) %>
      </li>
    </ul>
    </div>
    <% end %>
    <%= yield %>

    <br />
    <% if user_signed_in? %>
      <%= link_to "Log out", { controller: "devise/sessions", action: "destroy"}, method: :delete, class: "pure-button pure-button-primary" %>
    <% else %>
      <%= button_to "Sign in", user_session_path, class: "pure-button pure-button-primary" %><br />
      <%= button_to "Sign in with Google", user_google_oauth2_omniauth_authorize_path, class: "pure-button pure-button-primary" %>
    <% end %>
  </body>
</html>
